# Turn on the rewrite engine
RewriteEngine On

# If the request is not for a directory
RewriteCond %{REQUEST_FILENAME} !-d

# If a .php version of the request exists on the server
RewriteCond %{REQUEST_FILENAME}.php -f

# Then internally redirect to the .php version
RewriteRule ^(.*)$ $1.php [L]

# Set the default directory index to login.php
DirectoryIndex login.php

# Disable directory listing
Options -Indexes
